<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.duc.global.repository.dao.generator.SzyUserMapper" >
  <resultMap id="BaseResultMap" type="cn.duc.global.repository.model.generator.SzyUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="duc_user_id" property="ducUserId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="login_log_id" property="loginLogId" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, duc_user_id, user_name, phone_number, password, locked, login_log_id, enable, 
    remark, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from szy_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from szy_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.duc.global.repository.model.generator.SzyUser" >
    insert into szy_user (id, duc_user_id, user_name, 
      phone_number, password, locked, 
      login_log_id, enable, remark, 
      create_time, create_by, update_time, 
      update_by)
    values (#{id,jdbcType=VARCHAR}, #{ducUserId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{locked,jdbcType=BIT}, 
      #{loginLogId,jdbcType=VARCHAR}, #{enable,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.duc.global.repository.model.generator.SzyUser" >
    insert into szy_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ducUserId != null" >
        duc_user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="loginLogId != null" >
        login_log_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ducUserId != null" >
        #{ducUserId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="loginLogId != null" >
        #{loginLogId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.duc.global.repository.model.generator.SzyUser" >
    update szy_user
    <set >
      <if test="ducUserId != null" >
        duc_user_id = #{ducUserId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="loginLogId != null" >
        login_log_id = #{loginLogId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.duc.global.repository.model.generator.SzyUser" >
    update szy_user
    set duc_user_id = #{ducUserId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=BIT},
      login_log_id = #{loginLogId,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Column_List2" >
    szy_user.id, szy_user.duc_user_id, szy_user.user_name, szy_user.phone_number, szy_user.password, 
    szy_user.locked, szy_user.login_log_id, szy_user.enable, szy_user.remark, szy_user.create_time, 
    szy_user.create_by, szy_user.update_time, szy_user.update_by
  </sql>
</mapper>